@import "variables/variables";

.registration{
  margin: 10% auto;
  border-radius: 5px;
  width: 600px;
  background-color: rgba($primary_color, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: $box_shadow;

  button{
    display: block;
    margin: 30px auto 10px;
    box-shadow: $btn_shadow;
    background-color: $primary_color;
  }
  h1{
    margin-top: 0;
    text-align: center;
    margin-bottom: 30px;
    color: #4e4e4e;
  }
}
@media (max-width: 1010px) {
  .registration{
    width: 80%;
    h1{
      padding-top: 10%;
      text-align: center;
      font-weight: 500;
      font-size: medium;
    }
    div{
      display: flex;
      justify-content: center;
    }
  }
}